.input-container{
    min-width: 350px;
   
}
.Main-head{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}
.inner-head{
    display: flex;
    justify-content: center;
    width: 40%;
    border-bottom: 1px solid red;

}